<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ekang.studyroom.mapper.UsersMapper">
    <select id="getAllUsers" resultType="com.ekang.studyroom.dto.UsersDTO">
        SELECT user_id, first_name, last_name, is_active, email, passwords FROM users
    </select>
    <select id="getUserById" resultType="com.ekang.studyroom.dto.UsersDTO">
        SELECT user_id, first_name, last_name, is_active, email, passwords FROM users WHERE user_id = #{id}
    </select>
    <select id="getUserByEmail" resultType="com.ekang.studyroom.dto.UsersDTO">
        SELECT user_id, first_name, last_name, is_active, email, passwords FROM users WHERE email = #{email}
    </select>
    <update id="updatePasswords" parameterType="com.ekang.studyroom.dto.UsersDTO">
        UPDATE users
        SET passwords = #{passwords}
        WHERE user_id = #{userId}
    </update>
    <insert id="createUser" parameterType="com.ekang.studyroom.dto.UsersDTO" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (create_date, first_name, last_name, is_active, email, passwords)
        VALUES (current_date, #{firstName}, #{lastName}, #{isActive}, #{email}, #{passwords})
    </insert>
    <update id="deleteUserByID" parameterType="int">
        UPDATE users SET is_active = false WHERE user_id = #{id}
    </update>
</mapper>